.container {
	/*border: 5px solid black;*/
	width: 80%;
	margin: auto;
}
.carCard {
	border: 1px solid black;
	height: 250px;
	overflow: scroll;
}
.activeCar {
	/*commented out so as to meet the unnecessarily complicated*/
/*	border: 3px solid black;
	background-color: lightblue;*/
}